<%= form_tag do %>
  <%= content_tag :div, :ng_init => "potentialAbilityScores = " + build_ability_score_list do %>
    <p>Generated Ability Scores</p>
    <div>
      {{potentialAbilityScores}}
    </div>
  <% end %>
<% end %>