<h1>Test Page</h1>

<div id="dnd-test" ng-controller="DndTestCtrl">
  Test Script:
  <div>
    <textarea type="text" ng-model="dndTestScript"></textarea>
  </div>
  <button ng-click="testEval()">Execute</button>
  <hr>
  <h2>Test Results/Environment</h2>
  <div id="dnd-test-wrapper"></div>
</div>