<h2>Create New Proficiency</h2>
<%= form_for @proficiency, :url => create_proficiency_path, :method => :post do |f| %>
  <%= render :partial => "form", locals: {:f => f} %>
<% end %>

<%= link_to "Back to Proficiency List", proficiencies_path %>