<h1>New Role</h1>

<p class="tip">If you want to expressly customize your character creation, post a request with your email and the character specifications you desire.</p>
<p class="tip">I can't guarantee I'll get to it immediately or be able to help right away.</p>

<%= render 'form' %>

<%= link_to 'Back', player_path(@player) %>
