@import "tools/tools.scss";

.home-page {
  div {
    margin-top: 10px;
    vertical-align: middle;
    padding: 10px 0;
    &:nth-child(n+2) {
      border-top: 1px solid $app-gray;
    }
  }
  .strong {
    font-size: 20px;
    padding: 0 0 10px;
  }
}