@import "tools/tools.scss";

.home-page {
  div {
    margin-top: 10px;
    vertical-align: middle;
    padding: 10px 0;
    &:nth-child(n+2) {
      border-top: 1px solid $app-gray;
    }
  }
  .strong {
    font-size: 20px;
    padding: 0 0 10px;
  }
  a.button {
    font-size: 20px;
    line-height: 30px;
    margin-top: 15px;
    text-decoration: none;
    color: $app-black;
    border: 1px solid $app-black;
    padding: 2px 5px;
    &:hover, &:focus {
      background: $flash-green;
      text-decoration: none;
    }
  }
}