@import "tools/tools.scss";
.player-list {
  @include object_list;
  
  .player-link {
    @extend .li-link;
  }
  
  .player-name {
    @extend .li-name;
  }
  
  .player-img {
    @extend .li-img;
  }
}

.player-display {
  @extend %clearfix;
  .player-img-wrapper, .player-details {
    float: left;
    box-sizing: border-box;
  }
  
  .player-details {
    padding: 10px 0;
    min-width: calc(100% - 210px);
  }
  
  .player-name {
    width: 100%;
    border-bottom: 1px solid ;
  }
  
  .player-img-wrapper {
    padding: 10px 0;
    margin-right: 10px;
    max-width: 200px;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 502px) {
    .player-details {
      float: none;
      min-width: none;
    }
    .player-img-wrapper {
      float: none;
      margin: 0 auto;
    }
    .player-name {
      text-align: center;
    }
  }
  
}