@import "tools/tools.scss";
.proficiency {
  .value-header {
    font-size: 20px;
  }
}

form .tip {
  font-size: 10px;
  color: lighten($app-black, 20%);
}

.proficiencies {
  .name {
    font-weight: bold;
  }
  .pending {
    background: $flash-yellow;
  }
  .description {
    color: lighten($app-black, 20%);
  }
}