@import "tools/tools.scss";
.role-list {
  @extend %clearfix;
  margin-top: 10px;
  background: darken($app-gray, 10%);
  padding: 5px;
  > li {
    text-align: center;
    float: left;
    box-sizing: border-box;
    height: 171px;
    width: 140px;
    margin: 5px;
    padding: 5px;
    background: $app-white;
    border: 1px dotted $app-gray;
  }
  
  .role-link {
    text-decoration: none;
  }
  
  .role-name {
    margin: 0 auto;
    width: 100px;
    height: 20px;
    overflow: hidden;
    font-size: 18px;
    border-bottom: 1px solid;
  }
  .role-race, .role-level {
    font-size: 10px;
  }
  .role-race {
    margin-top: 2px;
  }
  .role-level {
    color: darken($app-white, 50%);
  }
  
  .role-img {
    margin-top: 10px;
    overflow: hidden;
    img {
      max-width: 100px;
    }
    &.add-item-img {
      
      margin: 34px auto 0;
      box-sizing: border-box;
      background: #fff;
      padding: 10px;
      height: 100px;
      width: 100px;
      div {
        display: inline-block;
        font-weight: bold;
        color: #fff;
        background: $app-white;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        font-size: 80px;
        line-height: 80px;
      }
    }
  }
  
  @media screen and (max-width: 400px) {
    > li {
      float: none;
      width: auto;
      &:last-child {
        height: auto;
        padding: 10px;
      }
    }
    .role-img.add-item-img {
      margin-top: 10px;
    }
  }
  
}

.role-display {

.value-header {
  font-size: 15px;
  font-weight: bold;
}

}